.side-nav {
    min-width: 200px;
    max-width: 200px;
    background-color: #081f37;
    align-items: center;
    padding-top: 20px;
}

.data-container {
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-item {
    color: #5fc9f3;
    width:100%
}

.data-item:hover {
    background-color: #5fc9f3;
    color: #081f37;
}

.image-container {
    height: 150px;
    width: 150px;
    border-radius: 100px 100px;
    color: white;
}